<!-- Controll all the others -->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="./vk-geocoder.html">
<link rel="import" href="./vk-query-deconstructor.html">
<link rel="import" href="./vk-voice-recognition.html">
<link rel="import" href="./vk-hal-button.html">

<dom-module id="vk-voice-search">
<template>
    <style include="shared-styles">
        :host {
            width: 100%;
            margin-top: 10px;
        }
        #vc-container {
            text-align: center;
        }

        #vc-feedback {
            background: white;
            height: 50px;
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
        }
    </style>

    <div id="vc-container" class="col12 clearfix">
        <div id="vc-button-container" class="col12 clearfix">
            <vk-hal-button state="[[ state ]]" on-click="_changeState"></vk-hal-button>
        </div>
        <div id="vc-feedback-input-container" class="col12 clearfix">
          <input id="vc-feedback" class=""></input>
        </div>
    </div>
    </template>

    <script type="text/javascript">

        class VkVoiceSearch extends Polymer.Element {

            static get is() {
                return 'vk-voice-search';
            }

            static get properties() {
                return {
                  state: {
                    type: String,
                    value: 'default',
                    notify: true,
                  }
                };
            };

            _changeState(e) {
                switch(this.state) {
                  case 'default':
                    this.set('state', 'listening');
                    break;
                  case 'listening':
                  case 'working':
                    this.set('state', 'default');
                    break;
                }
            }

        }

        window.customElements.define(VkVoiceSearch.is, VkVoiceSearch);
    </script>
</dom-module>
