<!-- Controll all the others -->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="vk-voice-search">
<template>
    <style include="shared-styles">
        :host {
            width: 100%;
            margin-top: 10px;
        }
        #vc-container {
            text-align: center;
        }
        .pulse-button {
            margin-left: auto;
            margin-right: auto;
            position: relative;
            width: 100px;
            height: 100px;
            border: none;
            box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
            border-radius: 50%;
            background-color: blue;
            background-image: url('/images/hal.png');
            background-size:cover;
            background-repeat: no-repeat;
            /*-webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
            -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
            -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
            animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);*/
        }

        @-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
        @-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
        @-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
        @keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}

        #vc-feedback {
            background: white;
            height: 50px;
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
        }
    </style>

    <div id="vc-container" class="col12 clearfix">
        <div class="col8 center clearfix pad2 margin2 pulse-button"></div>
        <div id="vc-feedback" class=""></div>
    </div>
    </template>

    <script type="text/javascript">

        class VkVoiceSearch extends Polymer.Element {

            static get is() {
                return 'vk-voice-search';
            }

            static get properties() {
                return {
                    isWorking: {
                        type: Boolean,
                        value: false,
                        notify: true
                    }
                };
            };
        }

        window.customElements.define(VkVoiceSearch.is, VkVoiceSearch);
    </script>
</dom-module>
